<!DOCTYPE html>
<html>
  <head>
    <title>BusinessRules</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href=<%= root_url %>>
          <p class="is-size-4">Super Loja</p>
        </a>
      </div>

      <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-light" href="<%= cart_path %>">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-success is-bold">
      <div class="hero-body">
        <h1 class="title">Produtos</p>
        <h2 class="subtitle">Aqui você encontra os melhores produtos!</p>
      </div>
    </section>
      <%= yield %>
  </body>
</html>
